apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Dipec001/argocd-app-config.git
    targetRevision: main
    path: nginx
  destination: 
    server: https://kubernetes.default.svc
    namespace: myapp

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true